<h1>Create a New MealPlan</h1>


<!--Form Inputs are:
 section name:text
 members:integer
 start:datetime
 end:datetime
allergies:text
-->

<div class="panel">
	<button class="btn btn-joeys">Joeys</button>
	<button class="btn btn-cubs">Cubs</button>
	<button class="btn btn-scouts">Scouts</button>
	<button class="btn btn-venturers">Venturers</button>
	<button class="btn btn-rovers">Rovers</button>
</div>

<%= form_tag("/meal_plan", method: "get") do %>
  <%= radio_button_tag(:section, "Joeys") %>
  <%= radio_button_tag(:section, "Cubs") %>
  <%= radio_button_tag(:section, "Scouts") %>
  <%= radio_button_tag(:section, "Venturers") %>
  <%= radio_button_tag(:section, "Rovers") %>

  <%= label_tag(:members, "#{:section} Camping") %>
  <%= number_field_tag(:members, value = nil, min:1, mx:50) %>
  <%= submit_tag("Search") %>
<% end %>
